// - G4Bench config file written in JSON5
{
  // -----------------------------------------------------------------
  // Run Configuration
  Run : {
    Seed : 123456789,
    SeedOnce : true,  // true for short-cycle event
    G4DATA : "/opt/geant4/data/10.7.1"
  },
  // -----------------------------------------------------------------
  // Primary Configuration
  Primary : {
    type : "beam",
    Gun : {
      particle  : "e-",
      energy    : 20.0,   // MeV
      position  : [ 0., 0., -65. ],  // cm
      direction : [ 0., 0., 1.],
    },
    Beam : {
      particle  : "e-",
      energy    : 20.0,   // MeV
      photon_voltage : 18,   // photon voltate, [6,18] MV for x-ray beam
      ssd : 100.,  // SSD (cm)
      field_size : 10.0,   // field size (X/Y) in cm
    }
  }
}
