// - G4Bench config file written in JSON5
{
  // -----------------------------------------------------------------
  // Run Configuration
  Run : {
    Seed : 1234567,
  },
  // -----------------------------------------------------------------
  // Primary setting (Generic)
  Primary : {
    // generic primary type [gun, beam]
    type      : 'gun',
    particle  : "e-",
    energy    : 1000.0,   // MeV
    position  : [ 0., 0., -45. ],  // cm
    direction : [ 0., 0., 1.],
  }
}
