// - G4Bench config file written in JSON5
{
  // -----------------------------------------------------------------
  // Run Configuration
  Run : {
    Seed : 123456789,
  },
  // -----------------------------------------------------------------
  // Primary setting (Generic)
  Primary : {
    particle  : "e-",
    energy    : 1000.0,   // MeV
    position  : [ 0., 0., -45. ],  // cm
    direction : [ 0., 0., 1.],
  }
}
